*.apk
*.ap_

*.dex

*.class

bin/
gen/
out/

.gradle/
build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

.externalNativeBuild

google-services.json

freeline.py
freeline/
freeline_project_description.json

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

*iml
.DS_Store
/build
*/build
buildSrc/build
/release
/reports
.idea/
.idea
projectFilesBackup/.idea/workspace.xml
projectFilesBackup1/.idea/workspace.xml
app/release/output.json
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
**/*.directory
*.directory
