*.apk
*.ap_

*.dex

*.class

bin/
gen/
out/

.gradle/
build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

.externalNativeBuild

google-services.json

freeline.py
freeline/
freeline_project_description.json

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

*iml
.DS_Store
/build
*/build
buildSrc/build
/release
/reports
.idea/
.idea
projectFilesBackup/.idea/workspace.xml
projectFilesBackup1/.idea/workspace.xml
app/release/output.json
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
**/*.directory
*.directory

# API Keys
app/src/main/cpp/api-keys.cpp
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
/app/.cxx/cmake/debug/arm64-v8a/build.ninja
/app/.cxx/cmake/debug/arm64-v8a/build_command.txt
/app/.cxx/cmake/debug/arm64-v8a/build_model.json
/app/.cxx/cmake/debug/arm64-v8a/build_output.txt
/app/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
/app/.cxx/cmake/debug/arm64-v8a/cmake_server_log.txt
/app/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
/app/.cxx/cmake/debug/arm64-v8a/compile_commands.json
/app/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
/app/.cxx/cmake/debug/arm64-v8a/prefab_config.json
/app/.cxx/cmake/debug/arm64-v8a/rules.ninja
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build.json
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
/app/.cxx/cmake/debug/armeabi-v7a/build.ninja
/app/.cxx/cmake/debug/armeabi-v7a/build_command.txt
/app/.cxx/cmake/debug/armeabi-v7a/build_model.json
/app/.cxx/cmake/debug/armeabi-v7a/build_output.txt
/app/.cxx/cmake/debug/armeabi-v7a/cmake_install.cmake
/app/.cxx/cmake/debug/armeabi-v7a/cmake_server_log.txt
/app/.cxx/cmake/debug/armeabi-v7a/CMakeCache.txt
/app/.cxx/cmake/debug/armeabi-v7a/compile_commands.json
/app/.cxx/cmake/debug/armeabi-v7a/json_generation_record.json
/app/.cxx/cmake/debug/armeabi-v7a/prefab_config.json
/app/.cxx/cmake/debug/armeabi-v7a/rules.ninja
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/x86/CMakeFiles/api-keys.dir/src/main/cpp/api-keys.cpp.o
/app/.cxx/cmake/debug/x86/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/x86/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/debug/x86/.ninja_deps
/app/.cxx/cmake/debug/x86/.ninja_log
/app/.cxx/cmake/debug/x86/android_gradle_build.json
/app/.cxx/cmake/debug/x86/android_gradle_build_api-keys_x86.command.txt
/app/.cxx/cmake/debug/x86/android_gradle_build_api-keys_x86.stderr.txt
/app/.cxx/cmake/debug/x86/android_gradle_build_api-keys_x86.stdout.txt
/app/.cxx/cmake/debug/x86/android_gradle_build_mini.json
/app/.cxx/cmake/debug/x86/build.ninja
/app/.cxx/cmake/debug/x86/build_command.txt
/app/.cxx/cmake/debug/x86/build_model.json
/app/.cxx/cmake/debug/x86/build_output.txt
/app/.cxx/cmake/debug/x86/cmake_install.cmake
/app/.cxx/cmake/debug/x86/cmake_server_log.txt
/app/.cxx/cmake/debug/x86/CMakeCache.txt
/app/.cxx/cmake/debug/x86/compile_commands.json
/app/.cxx/cmake/debug/x86/json_generation_record.json
/app/.cxx/cmake/debug/x86/prefab_config.json
/app/.cxx/cmake/debug/x86/rules.ninja
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/x86_64/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/x86_64/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/debug/x86_64/android_gradle_build.json
/app/.cxx/cmake/debug/x86_64/android_gradle_build_mini.json
/app/.cxx/cmake/debug/x86_64/build.ninja
/app/.cxx/cmake/debug/x86_64/build_command.txt
/app/.cxx/cmake/debug/x86_64/build_model.json
/app/.cxx/cmake/debug/x86_64/build_output.txt
/app/.cxx/cmake/debug/x86_64/cmake_install.cmake
/app/.cxx/cmake/debug/x86_64/cmake_server_log.txt
/app/.cxx/cmake/debug/x86_64/CMakeCache.txt
/app/.cxx/cmake/debug/x86_64/compile_commands.json
/app/.cxx/cmake/debug/x86_64/json_generation_record.json
/app/.cxx/cmake/debug/x86_64/prefab_config.json
/app/.cxx/cmake/debug/x86_64/rules.ninja
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.c
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/release/arm64-v8a/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/release/arm64-v8a/android_gradle_build.json
/app/.cxx/cmake/release/arm64-v8a/android_gradle_build_mini.json
/app/.cxx/cmake/release/arm64-v8a/build.ninja
/app/.cxx/cmake/release/arm64-v8a/build_command.txt
/app/.cxx/cmake/release/arm64-v8a/build_model.json
/app/.cxx/cmake/release/arm64-v8a/build_output.txt
/app/.cxx/cmake/release/arm64-v8a/cmake_install.cmake
/app/.cxx/cmake/release/arm64-v8a/cmake_server_log.txt
/app/.cxx/cmake/release/arm64-v8a/CMakeCache.txt
/app/.cxx/cmake/release/arm64-v8a/compile_commands.json
/app/.cxx/cmake/release/arm64-v8a/json_generation_record.json
/app/.cxx/cmake/release/arm64-v8a/prefab_config.json
/app/.cxx/cmake/release/arm64-v8a/rules.ninja
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.c
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/release/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/release/armeabi-v7a/android_gradle_build.json
/app/.cxx/cmake/release/armeabi-v7a/android_gradle_build_mini.json
/app/.cxx/cmake/release/armeabi-v7a/build.ninja
/app/.cxx/cmake/release/armeabi-v7a/build_command.txt
/app/.cxx/cmake/release/armeabi-v7a/build_model.json
/app/.cxx/cmake/release/armeabi-v7a/build_output.txt
/app/.cxx/cmake/release/armeabi-v7a/cmake_install.cmake
/app/.cxx/cmake/release/armeabi-v7a/cmake_server_log.txt
/app/.cxx/cmake/release/armeabi-v7a/CMakeCache.txt
/app/.cxx/cmake/release/armeabi-v7a/compile_commands.json
/app/.cxx/cmake/release/armeabi-v7a/json_generation_record.json
/app/.cxx/cmake/release/armeabi-v7a/prefab_config.json
/app/.cxx/cmake/release/armeabi-v7a/rules.ninja
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/release/x86/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/release/x86/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/release/x86/CMakeFiles/feature_tests.c
/app/.cxx/cmake/release/x86/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/release/x86/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/release/x86/android_gradle_build.json
/app/.cxx/cmake/release/x86/android_gradle_build_mini.json
/app/.cxx/cmake/release/x86/build.ninja
/app/.cxx/cmake/release/x86/build_command.txt
/app/.cxx/cmake/release/x86/build_model.json
/app/.cxx/cmake/release/x86/build_output.txt
/app/.cxx/cmake/release/x86/cmake_install.cmake
/app/.cxx/cmake/release/x86/cmake_server_log.txt
/app/.cxx/cmake/release/x86/CMakeCache.txt
/app/.cxx/cmake/release/x86/compile_commands.json
/app/.cxx/cmake/release/x86/json_generation_record.json
/app/.cxx/cmake/release/x86/prefab_config.json
/app/.cxx/cmake/release/x86/rules.ninja
/app/.cxx/cmake/release/x86_64/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/release/x86_64/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/release/x86_64/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/release/x86_64/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/release/x86_64/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/release/x86_64/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/release/x86_64/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/release/x86_64/CMakeFiles/feature_tests.c
/app/.cxx/cmake/release/x86_64/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/release/x86_64/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/release/x86_64/android_gradle_build.json
/app/.cxx/cmake/release/x86_64/android_gradle_build_mini.json
/app/.cxx/cmake/release/x86_64/build.ninja
/app/.cxx/cmake/release/x86_64/build_command.txt
/app/.cxx/cmake/release/x86_64/build_model.json
/app/.cxx/cmake/release/x86_64/build_output.txt
/app/.cxx/cmake/release/x86_64/cmake_install.cmake
/app/.cxx/cmake/release/x86_64/cmake_server_log.txt
/app/.cxx/cmake/release/x86_64/CMakeCache.txt
/app/.cxx/cmake/release/x86_64/compile_commands.json
/app/.cxx/cmake/release/x86_64/json_generation_record.json
/app/.cxx/cmake/release/x86_64/prefab_config.json
/app/.cxx/cmake/release/x86_64/rules.ninja
/app/.cxx/abi_configuration_1n30q723.json
/app/.cxx/abi_configuration_1n30q723_key.json
/app/.cxx/abi_configuration_4o5p5x6f.json
/app/.cxx/abi_configuration_4o5p5x6f_key.json
/app/.cxx/abi_configuration_72w3k6c7.json
/app/.cxx/abi_configuration_72w3k6c7_key.json
/app/.cxx/abi_configuration_1023674e.json
/app/.cxx/abi_configuration_1023674e_key.json
/app/.cxx/ndk_locator_record_3q5c2b4t.json
/app/.cxx/ndk_locator_record_3q5c2b4t_key.json
/app/.cxx/ndk_locator_record_6w5z1v6e.json
/app/.cxx/ndk_locator_record_6w5z1v6e_key.json
/app/.cxx/ndk_locator_record_cw326u67.json
/app/.cxx/ndk_locator_record_cw326u67_key.json
